.App {
  display: flex;
}
.App .sidebar {
  display: flex;
  width: 30vw;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
}


.App .student-detail-container{
  width: 70vw;
  box-sizing: border-box;
}